/* code louisville custom CSS requirement*/
.class-requirement {
    color: #654634;
    text-align: center;
    
}

h1 {
    text-align: center;
    background-color: #DBDBDB;
}

.header {
   background-color: #e4e2d2;
}

img {
    margin: auto;
    border: 3px solid #FFF;
    padding: 10px;
}

h4 {
    font-style: italic;
    font-size:120%;
}


body {
    background-color: #e4e2d2;
    font-family: 'Asap', sans-serif;
    font-size: 1.75em;
    
}

#mission {
    font-size:1.25em;
}

#education {
    font-size:125%;
}

blockquote {
    background-color: #CCC;
    width: 75%;
}

.adjustContainer {
    padding-left: 5%;  
}

/* Press images */

.pressIMG {
    width: 300px;
    height: 300px;
}

#pressContainer {
    width: 100%;
}

/* Accordion */
.accordion {
    font-family: 'Asap', sans-serif; 
    margin:0 auto;
    font-size:1em;
    border:1px solid #DBDBDB;
    border-radius:10px;
    width:90%;
    padding:10px;
    background:#fff;
}
.accordion ul {
    margin:0;
    padding:0;    
}
.accordion li {
    margin:0;
    padding:0;
}
.accordion [type=radio], .accordion [type=checkbox] {
    display:none;
}
.accordion label {
    display:block;
    font-size:20px;
    line-height:16px;
    background:#CCC;
    border:1px solid #DBDBDB;
    color:#000;
    text-shadow:1px 1px 1px rgba(255,255,255,0.3);
    font-weight:700;
    cursor:pointer;
    text-transform:uppercase;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
}
.accordion ul li label:hover, .accordion [type=radio]:checked ~ label, .accordion [type=checkbox]:checked ~ label {
    background:#DBDBDB;
    color:#FFF;
    text-shadow:1px 1px 1px rgba(0,0,0,0.5)
}
.accordion .content {
    padding:0 10px;
    overflow: auto;
    border:1px solid #fff; /* Make the border match the background so it fades in nicely */
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
}
.accordion p {
    color:#000;
    margin:0 0 10px;
}
.accordion h3 {
    color:#000;
    padding:0;
    margin:10px 0;
}


/* Vertical */
.vertical ul li {
    overflow:hidden;
    margin:0 0 1px;
}
.vertical ul li label {
    padding:10px;
}
.vertical [type=radio]:checked ~ label, .vertical [type=checkbox]:checked ~ label {
    border-bottom:0;
}
.vertical ul li label:hover {
    border:1px solid #DBDBDB; /* We don't want the border to disappear on hover */
}
.vertical ul li .content {
    height:0px;
    border-top:0;
}
.vertical [type=radio]:checked ~ label ~ .content, .vertical [type=checkbox]:checked ~ label ~ .content {
    height:100%;
    border:1px solid #DBDBDB;
}

/* Normalize import*/
@import url("normalize.css");

/* Repsonsive Design*/
@media (min-width: 100px) and (max-width: 700px){
    .wrapper{
        width: 100%;
    }
    footer{
        width: 100%;
    }
    .container{
        width: 95%;
    }
    .flex-container{
        flex-wrap: wrap;
    }
    h1{
        padding-top: 10px;
    }
}

@media (min-width: 700px) and (max-width: 900px){
    .wrapper{
        width: 100%;
        max-width: 700px;
        min-width:700px;
    }
    footer{
        width: 100%;
    }
    .container{
        width: 90%;
    }
    #badge-slider > img{
        width: 100px;
    }
}

@media (min-width: 900px) and (max-width: 1100px){
    .wrapper{
        width: 75%;
        max-width: 900px;
        min-width: 900px;
    }
    footer{
        width: 100%;
    }
    .container{
        width: 90%;
    }
}