/* code louisville custom CSS requirement*/
.class-requirement {
    font-size = 100%;
    font-family: 'Asap', sans-serif;
    color: firebrick;
    
}

.header {
    text-align: center;
}

h1 {
    text-align: center;
}

img {
    margin: auto;
    border: 3px solid white;
    padding: 10px;
}

h3 {
    font-style: italic;
}


body {
    background-color: #e4e2d2;
    font-family: 'Asap', sans-serif;
    font-size: 1.75em;
}

/* Normalize import*/
@import url("normalize.css");

/* Repsonsive Design*/
@media (min-width: 100px) and (max-width: 700px){
    .wrapper{
        width: 100%;
    }
    footer{
        width: 100%;
    }
    .container{
        width: 95%;
    }
    .flex-container{
        flex-wrap: wrap;
    }
    h1{
        padding-top: 10px;
    }
}

@media (min-width: 700px) and (max-width: 900px){
    .wrapper{
        width: 100%;
        max-width: 700px;
        min-width:700px;
    }
    footer{
        width: 100%;
    }
    .container{
        width: 90%;
    }
    #badge-slider > img{
        width: 100px;
    }
}

@media (min-width: 900px) and (max-width: 1100px){
    .wrapper{
        width: 75%;
        max-width: 900px;
        min-width: 900px;
    }
    footer{
        width: 100%;
    }
    .container{
        width: 90%;
    }
}